h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    background-color: rgb(28, 15, 131);
}
label{
font-family:'Poppins', sans-serif ;
color: white;

}

#amount{
    font-family:'Poppins', sans-serif ;

}

#account{
    font-family:'Poppins', sans-serif ;

}

h3{
    margin-left: 70px;
    font-family:'Poppins', sans-serif ;
    color: white;
}

h4{
    font-family: 'Poppins', sans-serif ;
    text-align: center;
    font-size: x-large;
    color: white;

}

p{
    font-family: 'Poppins', sans-serif ;
    margin-left: 70px;
    margin-right: 70px;
    line-height: 3;
    color: white;

}

img{
    margin-top: 12px;
    margin-bottom: 2px;
    margin-right: 12px ;
    float: left;
}

button{
    font-family: 'Poppins', sans-serif;
}